@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,200;6..72,300;6..72,400;6..72,500;6..72,600;6..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body{
    background-color: #252525;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 300px;
    cursor: pointer;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

li{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 1rem;
}

// span{
//     opacity: 0;
// }

p{
    opacity: 0;
}

li:hover{
    p{
        opacity: 100%;
        background-color: #996B4A;
        color: white;
        padding: 10px;
        border-radius: 15px;
    }
}

